In [11]:
#import streamlit as st
import pandas as pd
import plotly.express as px
from IPython.display import display, HTML

df =  pd.read_csv("Report-17-01-2024_15-00-17.csv", sep=',')
display(df)

,Solicitante,Operador Responsável,URL,Ticket,Status,Data da solicitação,Abertura McAfee,Conclusão
0,f6289614,NaN,www.milanreis.com.br,NaN,Solicitado,17/01/2024,NaN,NaN
1,f2064797,NaN,www.bosquedosaruas.com.br,NaN,Solicitado,17/01/2024,NaN,NaN
2,f2916599,NaN,segunda-via-cpfl-servicos.com,NaN,Solicitado,17/01/2024,NaN,NaN
3,f2916599,NaN,segunda-via-cpfl-servicos.com,NaN,Solicitado,17/01/2024,NaN,NaN
4,f3231079,NaN,portaldoaluno.grupoceuma.com.br,NaN,Solicitado,17/01/2024,NaN,NaN
...,...,...,...,...,...,...,...,...
1976,f9304148,C1323536,www.iatenews.com.br,2717867,Concluido,14/11/2023,07/12/2023,07/12/2023
1977,f9440819,C1323536,amagrilmaquinas.com.br,2717869,Concluido,14/11/2023,07/12/2023,07/12/2023
1978,f6322988,C1323536,www.lojarheem.com.br,2717870,Concluido,14/11/2023,07/12/2023,07/12/2023
1979,f2063738,C1323536,www.aceletrica.com,2717871,Concluido,14/11/2023,07/12/2023,07/12/2023
1980,f7109799,C1323536,186.209.104.139,2717872,Improcedente,14/11/2023,07/12/2023,07/12/2023

In [12]:
import locale
from datetime import datetime

# Configurar o local para português do Brasil
locale.setlocale(locale.LC_TIME, 'pt_BR.UTF-8')


df["Data da solicitação"] = pd.to_datetime(df["Data da solicitação"],format="%d/%m/%Y")
display(df["Data da solicitação"])

# Extrair valores únicos de ano e mês (por extenso)
anos_unicos = df['Data da solicitação'].dt.year.unique().tolist()
meses_unicos = df['Data da solicitação'].dt.month_name(locale='pt_BR').str.capitalize().unique().tolist()
df["Mes/Ano"] = df["Data da solicitação"].apply(lambda x: str(x.month) +"-"+ str(x.year))
# next_year = anos_unicos
# jan_1 = datetime.date(next_year, 1, 1)
# dec_31 = datetime.date(next_year, 12, 31)


# d = st.date_input(
#         "Select your vacation for next year",
#         (jan_1, datetime.date(next_year, 1, 7)),
#         jan_1,
#         dec_31,
#         format="DD.MM.YYYY",
#     )
# d
# Exibir os valores únicos
print("Anos Únicos:", anos_unicos)
print("Meses Únicos:", meses_unicos)
display(df)
df.info()
# df_mes = pd.DataFrame(df["Data da solicitação"])
# display(df_mes)

# df["Mes/Ano"] = df["Data da solicitação"].apply(lambda x: str(x.month) +"-"+ str(x.year))
# display(df["Mes/Ano"])
# DF_AA=df["Operador Responsável"].unique()
# print(DF_AA)
# Filtrar o DataFrame com base no intervalo de datas
#df_filtrado = df[(df["Data da solicitação"] >= data_inicio) & (df["Data da solicitação"] <= data_fim)]

0      2024-01-17
1      2024-01-17
2      2024-01-17
3      2024-01-17
4      2024-01-17
          ...
1976   2023-11-14
1977   2023-11-14
1978   2023-11-14
1979   2023-11-14
1980   2023-11-14
Name: Data da solicitação, Length: 1981, dtype: datetime64[ns]

Anos Únicos: [2024, 2023]
Meses Únicos: ['Janeiro', 'Dezembro', 'Novembro']

,Solicitante,Operador Responsável,URL,Ticket,Status,Data da solicitação,Abertura McAfee,Conclusão,Mes/Ano
0,f6289614,NaN,www.milanreis.com.br,NaN,Solicitado,2024-01-17,NaN,NaN,1-2024
1,f2064797,NaN,www.bosquedosaruas.com.br,NaN,Solicitado,2024-01-17,NaN,NaN,1-2024
2,f2916599,NaN,segunda-via-cpfl-servicos.com,NaN,Solicitado,2024-01-17,NaN,NaN,1-2024
3,f2916599,NaN,segunda-via-cpfl-servicos.com,NaN,Solicitado,2024-01-17,NaN,NaN,1-2024
4,f3231079,NaN,portaldoaluno.grupoceuma.com.br,NaN,Solicitado,2024-01-17,NaN,NaN,1-2024
...,...,...,...,...,...,...,...,...,...
1976,f9304148,C1323536,www.iatenews.com.br,2717867,Concluido,2023-11-14,07/12/2023,07/12/2023,11-2023
1977,f9440819,C1323536,amagrilmaquinas.com.br,2717869,Concluido,2023-11-14,07/12/2023,07/12/2023,11-2023
1978,f6322988,C1323536,www.lojarheem.com.br,2717870,Concluido,2023-11-14,07/12/2023,07/12/2023,11-2023
1979,f2063738,C1323536,www.aceletrica.com,2717871,Concluido,2023-11-14,07/12/2023,07/12/2023,11-2023
1980,f7109799,C1323536,186.209.104.139,2717872,Improcedente,2023-11-14,07/12/2023,07/12/2023,11-2023

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1981 entries, 0 to 1980
Data columns (total 9 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   Solicitante           1981 non-null   object
 1   Operador Responsável  1970 non-null   object
 2   URL                   1981 non-null   object
 3   Ticket                1957 non-null   object
 4   Status                1981 non-null   object
 5   Data da solicitação   1981 non-null   datetime64[ns]
 6   Abertura McAfee       1950 non-null   object
 7   Conclusão             1893 non-null   object
 8   Mes/Ano               1981 non-null   object
dtypes: datetime64[ns](1), object(8)
memory usage: 139.4+ KB

In [5]:
df_filtro =  df.groupby("Mes/Ano")["URL"].count()
display(df_filtro)

Mes/Ano
1-2024     493
11-2023    635
12-2023    853
Name: URL, dtype: int64

In [9]:
soma_url = df['URL'].count()
display(soma_url)

AttributeError: 'numpy.int64' object has no attribute 'type'

Parâmetros:  

Filtro por calendário: dia, mês e ano  

Somatório total desde o início do serviço: contador de url realizadas  

Timeline com volume mensal de url desde o início  

Tabela com os dados que podemos filtrar por status e por operador responsável  

Forma de apresentação :dashboard

In [24]:
df_filtrada = df.groupby("Operador Responsável")[['URL','Status']].count()
#somatorio = df_filtrada['URL'].sum()

display(df_filtrada)
#print(somatorio)

                       URL  Status
Operador Responsável
C1251087                56      56
C1271684                69      69
C1275547               315     315
C1282579                75      75
C1297691                50      50
C1320231                57      57
C1323536              1001    1001
C1323537                34      34
C1327691               112     112
C1330973                 1       1
C1338930               200     200

1970

In [10]:
operadores_unicos=df["Operador Responsável"].unique()
print(operadores_unicos)

[nan 'C1338930' 'C1320231' 'C1275547' 'C1297691' 'C1327691' 'C1323536'
 'C1251087' 'C1323537' 'C1271684' 'C1282579' 'C1330973']